* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #0f172a;
  color:white;
}

.flex{
display:flex;
}

.right-container{
overflow: auto;
height: 1500px;
width: 50%;
margin-left: 50%;
}

.left-container{
position: fixed;
height:100vh;
width: 50%;
overflow-y: auto;
}

.page-container{
margin-left: auto;
margin-right: auto;
width: 75%;
}